table td {
  position: relative;
}

table td tr{
  position: absolute;
  display: block;
  top:0;
  left:0;
  margin: 0;
  height: 100% !important;
  width: 100%;
  border-radius: 0 !important;
  border: none;
  padding: 0px;
  box-sizing: border-box;
}